<div style=" background-color: RGB(0,114,200);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">PROJET 4 DATA ANALYST</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">Réaliser une étude de santé publique avec Python
</h2>
</div>

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.1 - Importation des librairies</h3>
</div>

In [107]:
import numpy as np
import pandas as pd

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.2 - Importation des fichiers</h3>
</div>

In [108]:
# Importation du fichier aide_alimentaire 
aide_alimentaire=pd.read_csv('aide_alimentaire2.csv')
aide_alimentaire.rename(columns={"Pays bénéficiaire":"Zone"},inplace=True) # Renommage colonne Pays bénéficiaire par Zone
aide_alimentaire.head()

          Zone  Année              Produit  Valeur
0  Afghanistan   2013  Autres non-céréales     682
1  Afghanistan   2014  Autres non-céréales     335
2  Afghanistan   2013        Blé et Farine   39224
3  Afghanistan   2014        Blé et Farine   15160
4  Afghanistan   2013             Céréales   40504

In [109]:
# Importation du fichier dispo_alimentaire
dispo_alimentaire=pd.read_csv('dispo_alimentaire2.csv')
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,Agrumes Autres,vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [110]:
# Importation du fichier population
population=pd.read_csv('population2.csv')
population.rename(columns={"Année":"Année pop", "Valeur":"Population"},inplace=True) # Renommage des colonnes Année et Valeur
population["Population"] = round(population["Population"]/1000,2) # Population en millions d'habitants
population.head()

          Zone  Année pop  Population
0  Afghanistan       2013       32.27
1  Afghanistan       2014       33.37
2  Afghanistan       2015       34.41
3  Afghanistan       2016       35.38
4  Afghanistan       2017       36.30

In [111]:
# Filtre sur l'année 2017
population_2017=population.loc[population['Année pop']==2017] 
population_2017.head()

              Zone  Année pop  Population
4      Afghanistan       2017       36.30
10  Afrique du Sud       2017       57.01
16         Albanie       2017        2.88
22         Algérie       2017       41.39
28       Allemagne       2017       82.66

In [112]:
# Importation du fichier sous_nutrition
sous_nutrition=pd.read_csv('sous_nutrition2.csv')
sous_nutrition.rename(columns={"Année":"Année sous nutrition", "Valeur":"Population sous nutrition"},inplace=True) # Renommage des colonnes Année et Valeur
sous_nutrition.replace("<0.1","0.1", inplace = True) # Remplacement des valeurs inférieures à 0.1 par 0.1
sous_nutrition['Année sous nutrition'] = sous_nutrition['Année sous nutrition'].str.replace('2012-2014', '2013') # Remplacement par la moyenne de la fourchette des années
sous_nutrition['Année sous nutrition'] = sous_nutrition['Année sous nutrition'].str.replace('2013-2015', '2014') # Remplacement par la moyenne de la fourchette des années
sous_nutrition['Année sous nutrition'] = sous_nutrition['Année sous nutrition'].str.replace('2014-2016', '2015') # Remplacement par la moyenne de la fourchette des années
sous_nutrition['Année sous nutrition'] = sous_nutrition['Année sous nutrition'].str.replace('2015-2017', '2016') # Remplacement par la moyenne de la fourchette des années
sous_nutrition['Année sous nutrition'] = sous_nutrition['Année sous nutrition'].str.replace('2016-2018', '2017') # Remplacement par la moyenne de la fourchette des années
sous_nutrition['Année sous nutrition'] = sous_nutrition['Année sous nutrition'].str.replace('2017-2019', '2018') # Remplacement par la moyenne de la fourchette des années
sous_nutrition['Population sous nutrition']= pd.to_numeric(sous_nutrition ['Population sous nutrition'],errors = 'coerce')# Modification du type de données
sous_nutrition['Année sous nutrition'] = sous_nutrition['Année sous nutrition'].astype(int) # Modification du type de données
sous_nutrition.head()

          Zone  Année sous nutrition  Population sous nutrition
0  Afghanistan                  2013                        8.6
1  Afghanistan                  2014                        8.8
2  Afghanistan                  2015                        8.9
3  Afghanistan                  2016                        9.7
4  Afghanistan                  2017                       10.5

In [113]:
# Filtre sur l'année 2017
sous_nutrition_2017=sous_nutrition.loc[sous_nutrition['Année sous nutrition']==2017]
sous_nutrition_2017.head()

              Zone  Année sous nutrition  Population sous nutrition
4      Afghanistan                  2017                       10.5
10  Afrique du Sud                  2017                        3.1
16         Albanie                  2017                        0.1
22         Algérie                  2017                        1.3
28       Allemagne                  2017                        NaN

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Questions de Marc</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.1 - Calcul de la proportion de personnes en état de sous-nutrition</h3>
</div>

In [114]:
# Fusion des fichiers population & sous_nutrition sur année 2017 
df_population_sous_nutrition_2017=pd.merge(population_2017,sous_nutrition_2017,left_on=['Zone', 'Année pop'],
                                           right_on=['Zone', 'Année sous nutrition'],how='left')
df_population_sous_nutrition_2017.head()

,Zone,Année pop,Population,Année sous nutrition,Population sous nutrition
0,Afghanistan,2017,36.30,2017.0,10.5
1,Afrique du Sud,2017,57.01,2017.0,3.1
2,Albanie,2017,2.88,2017.0,0.1
3,Algérie,2017,41.39,2017.0,1.3
4,Allemagne,2017,82.66,2017.0,NaN

In [115]:
# Calcul de la proportion de personnes
proportion_mondiale_2017 = round(df_population_sous_nutrition_2017['Population sous nutrition'].sum() 
                                 / df_population_sous_nutrition_2017['Population'].sum()*100,2)
print("La proportion de la population mondiale en état de sous-nutrition en 2017 est de : ", proportion_mondiale_2017, "%")

La proportion de la population mondiale en état de sous-nutrition en 2017 est de :  7.12 %

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.2 - Calcul du nombre théorique de personnes qui pourraient être nourries</h3>
</div>

In [116]:
# Sélection des données pour calcul théorique de personnes qui pourraient être nourries
dispo_alimentaire_theorique=dispo_alimentaire.groupby('Zone')['Disponibilité alimentaire (Kcal/personne/jour)'].sum()
dispo_alimentaire_theorique.head()

Zone
Afghanistan       2087.0
Afrique du Sud    3020.0
Albanie           3188.0
Algérie           3293.0
Allemagne         3503.0
Name: Disponibilité alimentaire (Kcal/personne/jour), dtype: float64

In [117]:
# Fusion des fichiers dispo_par_zone & population
dispo_ali_pays_2017 = pd.merge(dispo_alimentaire_theorique, population_2017, on='Zone')
population_totale= round(dispo_ali_pays_2017['Population'].sum(),2)
dispo_ali_pays_2017.head()

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Année pop,Population
0,Afghanistan,2087.0,2017,36.30
1,Afrique du Sud,3020.0,2017,57.01
2,Albanie,3188.0,2017,2.88
3,Algérie,3293.0,2017,41.39
4,Allemagne,3503.0,2017,82.66

In [118]:
# Création d'une nouvelle colonne disponibilité alimentaire totale
dispo_ali_pays_2017['Dispo_ali_totale']=round(dispo_ali_pays_2017['Disponibilité alimentaire (Kcal/personne/jour)']*
                                              dispo_ali_pays_2017['Population'],2)
dispo_ali_pays_2017.head()

,Zone,Disponibilité alimentaire (Kcal/personne/jour),Année pop,Population,Dispo_ali_totale
0,Afghanistan,2087.0,2017,36.30,75758.10
1,Afrique du Sud,3020.0,2017,57.01,172170.20
2,Albanie,3188.0,2017,2.88,9181.44
3,Algérie,3293.0,2017,41.39,136297.27
4,Allemagne,3503.0,2017,82.66,289557.98

In [119]:
# Calcul du nombre théorique de personnes qui pourraient être nourries 
nombre_théorique = round(dispo_ali_pays_2017['Dispo_ali_totale'].sum () / 2500,2)
taux_population=round((nombre_théorique/population_totale),2) *100
print("Le nombre théorique de personnes qui pourraient être nourries est de", round(nombre_théorique/1000,2),
      "milliards", "soit",round(taux_population,2), "% de la population.")

Le nombre théorique de personnes qui pourraient être nourries est de 8.34 milliards soit 115.0 % de la population.

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.3 - Calcul du nombre théorique de personnes qui pourraient être nourries avec des produits végétaux</h3>
</div>

In [120]:
# Sélection des données pour calcul théorique de personnes qui pourraient être nourries de produits végétaux
dispo_alimentaire_theorique_vegetale=dispo_alimentaire[['Zone','Origine','Disponibilité alimentaire (Kcal/personne/jour)']]
dispo_alimentaire_theorique_vegetale = dispo_alimentaire_theorique_vegetale.loc[dispo_alimentaire_theorique_vegetale['Origine']
                                                                                == 'vegetale'] # Filtre sur les produits végétaux
dispo_alimentaire_theorique_vegetale.rename(columns={'Disponibilité alimentaire (Kcal/personne/jour)':'Dispo ali végétale'}, 
                                            inplace = True) # Renommage de la colonne Disponibilité alimentaire
dispo_alimentaire_theorique_vegetale=dispo_alimentaire_theorique_vegetale.groupby('Zone')['Dispo ali végétale'].sum()
dispo_alimentaire_theorique_vegetale.head()

Zone
Afghanistan       1871.0
Afrique du Sud    2533.0
Albanie           2203.0
Algérie           2915.0
Allemagne         2461.0
Name: Dispo ali végétale, dtype: float64

In [121]:
# Fusion des fichiers dispo_par_zone & population
dispo_vegetale_pays_2017 = pd.merge(dispo_alimentaire_theorique_vegetale, population_2017, on='Zone')
dispo_vegetale_pays_2017.head()

             Zone  Dispo ali végétale  Année pop  Population
0     Afghanistan              1871.0       2017       36.30
1  Afrique du Sud              2533.0       2017       57.01
2         Albanie              2203.0       2017        2.88
3         Algérie              2915.0       2017       41.39
4       Allemagne              2461.0       2017       82.66

In [122]:
# Création d'une nouvelle colonne Dispo_vegetale_totale
dispo_vegetale_pays_2017['Dispo_vegetale_totale']=dispo_vegetale_pays_2017['Dispo ali végétale']*dispo_vegetale_pays_2017['Population']
dispo_vegetale_pays_2017.head()

,Zone,Dispo ali végétale,Année pop,Population,Dispo_vegetale_totale
0,Afghanistan,1871.0,2017,36.30,67917.30
1,Afrique du Sud,2533.0,2017,57.01,144406.33
2,Albanie,2203.0,2017,2.88,6344.64
3,Algérie,2915.0,2017,41.39,120651.85
4,Allemagne,2461.0,2017,82.66,203426.26

In [123]:
# Calcul du nombre théorique de personnes qui pourraient être nourries par des produits végétaux
nombre_théorique2 = round(dispo_vegetale_pays_2017['Dispo_vegetale_totale'].sum() / 2500 ,2)
taux_population2=round((nombre_théorique2/population_totale),2)*100
print("Le nombre théorique de personnes qui pourraient être nourries de produits végétaux est de", 
      round(nombre_théorique2/1000,2), "milliards","soit",round(taux_population2,2),"% de la population")

Le nombre théorique de personnes qui pourraient être nourries de produits végétaux est de 6.88 milliards soit 95.0 % de la population

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.4 - Disponibilité intérieure utilisée, part attribuée à l'alimentation animale, celle attribuée à l'alimentation humaine et celle perdue</h3>
</div>

In [124]:
# Calcul de Julien : Aliments pour animaux + Autres Utilisations + Nourriture + Pertes + Semences + Traitement = 
# disponibilité intérieure = Production + Variation de stock + Importation - Exportation
# Création du nouveau dataframe disponibilité intérieure

disponibilité_intérieure = dispo_alimentaire.groupby(by=['Zone'])[['Produit', 'Origine', 'Aliments pour animaux','Autres Utilisations','Disponibilité intérieure',
                                                                   'Exportations - Quantité','Importations - Quantité', 
                                                                   'Nourriture','Pertes','Production', 'Semences', 'Traitement',
                                                                   'Variation de stock']].sum()
disponibilité_intérieure.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,
Afghanistan,768.0,415.0,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,61256.0,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,4758.0,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,42630.0,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0

* Création de 3 nouvelles colonnes : 
 - Disponibilité intérieure utilisée pour l'alimentation animale en %
 - Disponibilité intérieure utilisée pour l'alimentation humaine en %
 - Disponibilité intérieure perdue en %

In [125]:
disponibilité_intérieure['Disponibilité intérieure pour les animaux en %'] = round(disponibilité_intérieure['Aliments pour animaux'] / disponibilité_intérieure['Disponibilité intérieure']*100,2)
disponibilité_intérieure['Disponibilité intérieure pour les humains en %'] = round(disponibilité_intérieure['Nourriture'] / disponibilité_intérieure['Disponibilité intérieure']*100,2)
disponibilité_intérieure['Disponibilité intérieure perdue en %'] = round(disponibilité_intérieure['Pertes']/disponibilité_intérieure['Disponibilité intérieure']*100,2)
disponibilité_intérieure.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Disponibilité intérieure pour les animaux en %,Disponibilité intérieure pour les humains en %,Disponibilité intérieure perdue en %
Zone,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,13515.0,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0,5.68,79.43,8.40
Afrique du Sud,5309.0,876.0,61256.0,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0,8.67,48.67,3.58
Albanie,660.0,174.0,4758.0,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0,13.87,73.06,5.80
Algérie,4352.0,1707.0,42630.0,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0,10.21,74.43,8.80
Allemagne,30209.0,7711.0,162275.0,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0,18.62,48.83,2.33

In [126]:
# Calcul de la disponibilité intérieure moyenne
disponibilité_intérieure2=disponibilité_intérieure[['Disponibilité intérieure','Disponibilité intérieure pour les animaux en %','Disponibilité intérieure pour les humains en %','Disponibilité intérieure perdue en %']].mean()
disponibilité_intérieure2.head()

Disponibilité intérieure                          56603.413793
Disponibilité intérieure pour les animaux en %       12.023966
Disponibilité intérieure pour les humains en %       57.522701
Disponibilité intérieure perdue en %                  4.655977
dtype: float64

La disponibilité intérieure moyenne en 2017 était de 56 603,41 milliers de tonnes, la part réservée pour les animaux était de 12,02 %, celle pour les humains, de 57,52 % et celle perdue, 4,66 %

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 3 - Questions de Julien</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.1 - Utilisation des céréales : répartition entre l'alimentation humaine et l'alimentation pour animaux</h3>
</div>

* Filtre sur les céréales et création de 2 nouvelles colonnes :
 - Nourriture en %
 - Aliments pour animaux en %

In [97]:
liste_cereales = ['Blé', 'Céréales Autres','Maïs','Millet','Orge','Riz (Eq Blanchi)','Avoine','Sorgho','Seigle']
dispo_alimentaire_cereales = dispo_alimentaire.loc[dispo_alimentaire['Produit'].isin(liste_cereales)]
dispo_alimentaire_cereales=dispo_alimentaire_cereales.groupby(by=['Zone'])[['Produit','Disponibilité intérieure',
                                                                            'Aliments pour animaux','Nourriture']].sum()
dispo_alimentaire_cereales['Nourriture en %'] = round(dispo_alimentaire_cereales['Nourriture'] / 
                                                      dispo_alimentaire_cereales['Disponibilité intérieure']*100,2)
dispo_alimentaire_cereales['Aliments pour animaux en %'] = round(dispo_alimentaire_cereales['Aliments pour animaux']/
                                                                 dispo_alimentaire_cereales['Disponibilité intérieure']*100,2)
dispo_alimentaire_cereales.head()

,Disponibilité intérieure,Aliments pour animaux,Nourriture,Nourriture en %,Aliments pour animaux en %
Zone,,,,,
Afghanistan,7303.0,560.0,5494.0,75.23,7.67
Afrique du Sud,15493.0,4824.0,9503.0,61.34,31.14
Albanie,1145.0,411.0,474.0,41.40,35.90
Algérie,15013.0,4337.0,8535.0,56.85,28.89
Allemagne,42158.0,26615.0,9191.0,21.80,63.13

In [98]:
# Calcul de la disponibilité intérieure moyenne
dispo_alimentaire_cereales=dispo_alimentaire_cereales[['Disponibilité intérieure','Aliments pour animaux','Nourriture',
                                                       'Nourriture en %','Aliments pour animaux en %']].mean()
dispo_alimentaire_cereales.head()

Disponibilité intérieure      13833.327586
Aliments pour animaux          5020.316092
Nourriture                     5913.850575
Nourriture en %                  52.970920
Aliments pour animaux en %       29.147989
dtype: float64

La disponibilité intérieure moyenne de céréales en 2017 était de 13 833,33 milliers de tonnes, la part réservée pour les animaux était de 29,15 %, celle pour les humains, de 52,97 %.

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.2 - Utilisation du manioc aux égards de la proportion de personnes en sous-nutrition </h3>
</div>

* Fusion des fichiers dispo_par_zone et sous_nutrition et création de 3 nouvelles colonnes :
 - taux_exportations
 - taux_importations
 - taux_nourriture

In [99]:
thailande = pd.merge(dispo_alimentaire, sous_nutrition_2017, on='Zone')
thailande_manioc=thailande.loc[(thailande['Produit']=='Manioc')&(thailande['Zone']=='Thaïlande')]
thailande_manioc=thailande_manioc[['Zone','Produit','Exportations - Quantité','Importations - Quantité','Production',
                                   'Nourriture','Population sous nutrition']]
thailande_manioc['taux_exportations']=round(thailande_manioc['Exportations - Quantité']/thailande_manioc['Production']*100,2)
thailande_manioc['taux_importations']=round(thailande_manioc['Importations - Quantité']/thailande_manioc['Production']*100,2)
thailande_manioc['taux_nourriture']=round(thailande_manioc['Nourriture']/thailande_manioc['Production']*100,2)
thailande_manioc.head()

,Zone,Produit,Exportations - Quantité,Importations - Quantité,Production,Nourriture,Population sous nutrition,taux_exportations,taux_importations,taux_nourriture
13526,Thaïlande,Manioc,25214.0,1250.0,30228.0,871.0,6.2,83.41,4.14,2.88

En 2017, la population de la Thaïlande en sous-nutrition était de 6,20 millions d'habitants, sa production de Manioc était de 30 228 milliers de tonnes, ses exportations représentaient 83,41 % de sa production alors que ses importations étaient de 4,14 %, la part consacrée à la nourriture n'était que de 2,88 %.

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 4 - Questions de Mélanie</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">4.1 - Liste des pays pour lesquels la proportion de personnes sous-alimenatées est la plus forte en 2017, ceux qui ont bénéficié d'aide depuis 2013, ceux ayant le moins de disponibilité alimentaire par habitant et ceux ayant le moins de disponibilité intérieur  </h3>
</div>

In [100]:
# Sélection des données aide_alimentaire
aide_alimentaire2=aide_alimentaire.groupby('Zone')['Valeur'].mean()
aide_alimentaire2.head()

Zone
Afghanistan    11590.750000
Algérie         2079.846154
Angola          1253.500000
Bangladesh     13927.520000
Bhoutan          222.166667
Name: Valeur, dtype: float64

In [101]:
# Sélection des données dispo_alimentaire
dispo_alimentaire_mel=dispo_alimentaire.groupby('Zone')[['Disponibilité intérieure',
                                                         'Disponibilité alimentaire (Kcal/personne/jour)']].sum()
dispo_alimentaire_mel.head()

,Disponibilité intérieure,Disponibilité alimentaire (Kcal/personne/jour)
Zone,,
Afghanistan,13515.0,2087.0
Afrique du Sud,61256.0,3020.0
Albanie,4758.0,3188.0
Algérie,42630.0,3293.0
Allemagne,162275.0,3503.0

In [102]:
# Fusion des fichiers dispo_alimentaire & aide_alimentaire 
data_dispo_aide_alimentaire = pd.merge(dispo_alimentaire_mel, aide_alimentaire2, on ='Zone')
data_dispo_aide_alimentaire.rename(columns={"Valeur":"Valeur aide alimentaire"},inplace=True)
data_dispo_aide_alimentaire['Valeur aide alimentaire'] = round(data_dispo_aide_alimentaire['Valeur aide alimentaire'],2)
data_dispo_aide_alimentaire.head()

,Disponibilité intérieure,Disponibilité alimentaire (Kcal/personne/jour),Valeur aide alimentaire
Zone,,,
Afghanistan,13515.0,2087.0,11590.75
Algérie,42630.0,3293.0,2079.85
Angola,32029.0,2474.0,1253.50
Bangladesh,72757.0,2453.0,13927.52
Bolivie (Etat plurinational de),18728.0,2250.0,3.00

In [103]:
# Fusion des fichiers dispo_alimentaire,aide_alimentaire & sous_nutrition
data_mel = pd.merge(data_dispo_aide_alimentaire, sous_nutrition_2017, on ='Zone')
data_mel=data_mel.drop(['Année sous nutrition'],axis=1)
data_mel.head()

,Zone,Disponibilité intérieure,Disponibilité alimentaire (Kcal/personne/jour),Valeur aide alimentaire,Population sous nutrition
0,Afghanistan,13515.0,2087.0,11590.75,10.5
1,Algérie,42630.0,3293.0,2079.85,1.3
2,Angola,32029.0,2474.0,1253.50,5.8
3,Bangladesh,72757.0,2453.0,13927.52,21.5
4,Bolivie (Etat plurinational de),18728.0,2250.0,3.00,1.7

In [105]:
# Liste des 10 pays
data_mel.sort_values(by=['Population sous nutrition','Disponibilité intérieure',
                         'Disponibilité alimentaire (Kcal/personne/jour)',
                         'Valeur aide alimentaire'], ascending = [False,True,True,False]).head(10)

,Zone,Disponibilité intérieure,Disponibilité alimentaire (Kcal/personne/jour),Valeur aide alimentaire,Population sous nutrition
45,Pakistan,168631.0,2438.0,12161.68,24.8
3,Bangladesh,72757.0,2453.0,13927.52,21.5
18,Ethiopie,44014.0,2129.0,41857.39,21.1
46,Philippines,108885.0,2568.0,9540.11,15.7
52,République-Unie de Tanzanie,38160.0,2204.0,7167.58,13.4
51,République populaire démocratique de Corée,14876.0,2093.0,6462.48,12.0
30,Kenya,31095.0,2205.0,20475.41,11.9
0,Afghanistan,13515.0,2087.0,11590.75,10.5
35,Madagascar,15216.0,2056.0,4028.25,10.5
39,Mozambique,22023.0,2282.0,5328.36,9.4